<template>
  <div>
    <p class="error">{{ error }}</p>

    <table>
      <tbody>
        <tr>
          <td>
            <label>Nombre Mascota:</label>
          </td>
          <td>
            <input type="text" id="sbNombre" name="sbNombre" v-model="sbNombreMascosta" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Nombre Dueño:</label>
          </td>
          <td>
            <input type="text" id="sbNombreMascota" name="sbNombreMascota" v-model="sbNombreDueño" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Latitud:</label>
          </td>
          <td>
            <input type="text" id="sbLatitud" name="sbLatitud" v-model="sbLatitud" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="mail">Longitud:</label>
          </td>
          <td>
            <input type="text" id="sbLongitud" name="sbLongitud" v-model="sbLongitud" />
          </td>
        </tr>
      </tbody>
    </table>
    <button id="btnEnviar" @click="enviarInf()">Encontrado</button>
    <br />
    <br />
    <qrcode-stream @decode="onDecode" @init="onInit" />
  </div>
</template>

<script>
import { QrcodeStream } from "vue-qrcode-reader";
import axios from 'axios';

export default {
  components: { QrcodeStream },

  data() {
    return {
      result: "",
      nuIdMascota: "",
      sbNombreMascosta: "",
      sbNombreDueño: "",
      sbLatitud: "",
      sbLongitud: "",
      error: ""
    };
  },

  methods: {
    onDecode(result) {
      var arrayDeResultado = result.split(";");

      this.result = arrayDeResultado;
      this.nuIdMascota = arrayDeResultado[0];
      this.sbNombreMascosta = arrayDeResultado[1];
      this.sbNombreDueño = arrayDeResultado[2];

      navigator.geolocation.getCurrentPosition(position => {
        this.sbLatitud = position.coords.latitude;
        this.sbLongitud = position.coords.longitude;
      });
    },

    async onInit(promise) {
      try {
        await promise;
      } catch (error) {
        if (error.name === "NotAllowedError") {
          this.error = "ERROR: you need to grant camera access permisson";
        } else if (error.name === "NotFoundError") {
          this.error = "ERROR: no camera on this device";
        } else if (error.name === "NotSupportedError") {
          this.error = "ERROR: secure context required (HTTPS, localhost)";
        } else if (error.name === "NotReadableError") {
          this.error = "ERROR: is the camera already in use?";
        } else if (error.name === "OverconstrainedError") {
          this.error = "ERROR: installed cameras are not suitable";
        } else if (error.name === "StreamApiNotSupportedError") {
          this.error = "ERROR: Stream API is not supported in this browser";
        }
      }
    },
    enviarInf() {
      axios
        .post("http://localhost:8082/Pettis/api/qr", {
                id: this.nuIdMascota,
                latitude: this.sbLatitud,
                longitude: this.sbLongitud
            })
        .then(response => {
          alert("Mascota encontrada");
          this.nuIdMascota = "";
          this.sbNombreMascosta = "";
          this.sbNombreDueño = "";
          this.sbLatitud = "";
          this.sbLongitud = "";
        })
        .catch(error => {
          console.log(error);
          this.error = error;
        });
    }
  }
};
</script>

<style scoped>
.error {
  font-weight: bold;
  color: red;
}
</style>
